* {
    background:          #222223f2;
    border-color:        #242424;
    placeholder:         #3d3d3e;
    selected:            #a6c8ff;
    primary:             #e1e2e9;
    text-selected:       #111318;
    text-element:        #e1e2e9;
    error-message:       #ffb4ab;
}