* {
    background:          #181821;
    border-color:        #121219;
    placeholder:         #a6adc8;
    selected:            #232332;
    primary:             #cdd6f4;
    text-selected:       #cdd6f4;
    text-element:        #bac2de;
    error-message:       #f38ba8;
}